/* src/components/newSlider.css */
.new-slider-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .slider-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: var(--thumb-color);
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 0 3px transparent;
    outline: 2px solid rgb(18, 216, 4);
  outline-offset: 2px;
  }
  
  .slider.default::-webkit-slider-thumb {
    background: var(--thumb-color);
    /* box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1); */
  }
  
  .slider.hover::-webkit-slider-thumb {
    background: var(--thumb-color);
    box-shadow: 0 0 0 7px rgba(0, 255, 0, 0.3);
  }
  
  .slider.active::-webkit-slider-thumb,
  .slider:focus::-webkit-slider-thumb {
    background: var(--thumb-color);
    box-shadow: 0 0 0 7px rgba(0, 255, 0, 0.5);
  }
  
  .slider::-moz-range-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: var(--thumb-color);
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 0 3px transparent;
    
  }
  
  .slider.default::-moz-range-thumb {
    background: var(--thumb-color);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  }
  
  .slider.hover::-moz-range-thumb {
    background: var(--thumb-color);
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.3);
  }
  
  .slider.active::-moz-range-thumb,
  .slider:focus::-moz-range-thumb {
    background: var(--thumb-color);
    box-shadow: 0 0 0 7px rgba(0, 255, 0, 0.5);
  }
  

  .container{
    margin: auto;
    width: 50%;
    border: 2px dotted gray;
    padding: 10px 20px;
    /* border-radius: 20px; */
  }

  .center{
    text-align: center;
    
  }

  .tooltip{
    background: #000;
    width: 10px;
    color: aliceblue;
  }

  /* newSlider.css */
/* .slider-wrapper {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tooltip {
  position: absolute;
  top: -35px; 
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 10px;
  transform: translateX(-50%);
  white-space: nowrap;
  
} */

.slider-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -30px; /* Adjust as needed */
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip.visible {
  opacity: 1;
}


